.albumList {
  padding: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  box-sizing: border-box;

  li {
    background: black;
    margin: 4px;
    padding: .5rem;
    &:hover { 
      background: orangered; 
      color: black; 
      transform: scale(1.2);
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}