@import '../../styles/variables.css'; 

.images-container {
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  
  .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    figure {
      position: relative;
      border: 1.5px solid $maroon;
      button, figcaption {
        position: absolute;
      }
      button {
        background: $green;
        color: $grey;
      }
      figcaption {
        color: white;
        width: 100%;
        text-align: center;
      }
    }
  }
}

