@import '../../styles/variables.css';

.albums-list {
  margin-top: 1rem;
  display: grid;
  height: 100%;
  grid-template-columns: 100px 1fr;
  grid-gap: 1rem;
  h1 {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3em;
    background: $light-grey;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  ul {
    font-size: 1.8em;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }
}