.filter-form {
  text-align: center;
  margin-bottom: 1rem;
  label {
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: 600;
    input {
      text-align: center;
      font-size: 1rem;
      display: block;
      margin: auto;
      margin-top: .5rem;
      width: 100%;
      border-radius: .4rem;
      padding: .4rem;
    }
  }
}